/*
 * Fonts
 */
 @font-face {
   font-family: 'Tim Sans';
   font-weight: 400;
   src: url('../fonts/tim-sans/TIMSansWeb-Medium.eot'); /* IE9 Compat Modes */
   src: url('../fonts/tim-sans/TIMSansWeb-Medium.svg#TIMSansWeb') format('svg'), /* Legacy iOS */
        url('../fonts/tim-sans/TIMSansWeb-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/tim-sans/TIMSansWeb-Medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/tim-sans/TIMSansWeb-Medium.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/tim-sans/TIMSansWeb-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
 }

 @font-face {
   font-family: 'Tim Sans';
   font-weight: 800;
   src: url('../fonts/tim-sans/TIMSansWeb-Bold.eot'); /* IE9 Compat Modes */
   src: url('../fonts/tim-sans/TIMSansWeb-Bold.svg#TIMSansWeb') format('svg'), /* Legacy iOS */
        url('../fonts/tim-sans/TIMSansWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/tim-sans/TIMSansWeb-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/tim-sans/TIMSansWeb-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/tim-sans/TIMSansWeb-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
 }

/*
 * Colors
 */
@lightblue: #4588c6;
@blue: #2b3140;
@pink: #e94b80;
@beige: #DBD4B1;
@yellow: #ffed7c;

hr {
  border: 0;
  height: 2px;
  background: url(../img/ptn-dot-horizontal.png);
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  line-height: 1.8;
}
.container {
  max-width: 1280px;
}
.button, button, input[type=button], input[type=reset], input[type=submit] {
  font-family: 'Tim Sans';
  height: auto;
  border-radius: 0;
  border: 0;
  .fa {
    margin: .8rem 1rem 0 -1rem;
    float: left;
  }
}
@media (min-width: 550px) {
  .container {
    width: 90%;
  }
}
a {
  color: @lightblue;
}
h1,
h2,
h3,
h4 {
  font-family: 'Tim Sans';
  letter-spacing: 0;
}
h1 a,
h2 a,
h3 a,
h4 a {
  text-decoration: none;
  color: inherit;
}
h4 {
  font-size: 1.4em;
  font-weight: 300;
  margin: 0;
}
input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea {
  border-radius: 0;
}
.wireframe-box {
  padding: 2rem;
  margin: 0 0 2em;
  border: 1px solid #ccc;
}
input.big-search {
  font-size: 1.2em;
  height: auto;
}
input.search {
  margin-left: 1rem;
}
.fa {
  font-size: 1.5em;
}
p.big {
  font-size: 1.6em;
}
article h5 {
  margin: 0;
}
p.post-meta {
  margin: 0;
  color: #999;
}
p.post-meta .fa {
  font-size: 1em;
}
.social-buttons {
  font-size: 2em;
  text-align: center;
}
.social-buttons a {
  text-decoration: none;
}
.timeline {
  margin-top: 4rem;
  padding: 4rem 0;
  position: relative;
  font-size: .9em;
}
.timeline:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background: #ddd;
}
.timeline .timeline-item {
  position: relative;
  margin-top: -4rem;
}
.timeline .timeline-item:before {
  content: '';
  position: absolute;
  background: #ddd;
  height: 1px;
  top: 50%;
}
.timeline .timeline-item .post-box {
  width: 48%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 2rem;
}
.timeline .timeline-item:nth-child(odd) .post-box {
  float: left;
}
.timeline .timeline-item:nth-child(odd):before {
  left: 48%;
  right: 50%;
}
.timeline .timeline-item:nth-child(even) .post-box {
  float: right;
}
.timeline .timeline-item:nth-child(even):before {
  left: 50%;
  right: 48%;
}
.sidebar .profiles {
  height: auto;
}
.sidebar .profiles .profile h4 {
  font-size: 1.2em;
}
.profiles {
  height: 350px;
  overflow: auto;
}
.profile h4 {
  font-size: 1.4em;
  margin: 0;
}
.profile p {
  font-style: italic;
  color: #999;
}
.profile .fa.image {
  float: left;
  font-size: 3.8em;
  color: #999;
  margin: 0 2rem 0 0;
}
#masthead {
  background: @blue;
  padding: 2rem 0;
  color: #fff;
  margin: 0;
  position: relative;
  h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 400;
    margin: 2rem 0 0;
    color: #fff;
    img {
      float: left;
      margin: -2rem 2rem 0 0;
    }
    a {
      color: inherit;
    }
  }
  a {
    color: @lightblue;
    text-decoration: none;
  }
  .search-input {
    margin-left: 2rem;
    .fa {
      font-size: 1em;
    }
    input[type=text] {
      background: transparent;
      border: 0;
      font-family: 'Tim Sans';
      padding: .5rem 0;
      height: auto;
      color: #fff;
    }
  }
  #mastnav,
  .search-input {
    margin-top: 2rem;
  }
  ::-webkit-input-placeholder {
    color: #fff;
    text-transform: lowercase;
  }
  ::-moz-placeholder {
    color: #fff;
    text-transform: lowercase;
  }
  ::placeholder {
    color: #fff;
    text-transform: lowercase;
  }
}
#mastnav {
  font-family: 'Tim Sans';
  text-transform: lowercase;
  a {
    display: inline-block;
    margin-right: 1rem;
    color: white;
    &:hover {
      color: @yellow;
    }
  }
}
.page-header {
  background: @blue;
  font-family: 'Tim Sans';
  color: #fff;
  border-bottom: 2px solid @blue;
  position: relative;
  padding-bottom: 4rem;
  .button, button, input[type=button], input[type=reset], input[type=submit] {
    border-color: #fff;
    color: #fff;
    background: @lightblue;
    &:hover {
      background: lighten(@lightblue, 5%);
    }
  }
  .button.button-primary, button.button-primary, input[type=button].button-primary, input[type=reset].button-primary, input[type=submit].button-primary {
    background: @pink;
    &:hover {
      background: lighten(@pink, 5%);
    }
  }
  hr {
    margin: 0;
    padding: 0;
  }
  .page-header-content {
    margin-top: 4rem;
  }
  h2 {
    font-size: 3.2em;
  }
  p.subtitle {
    margin: 0;
  }
}
.full-height {
  box-sizing: border-box;
}
#hero {
  .page-header-content {
    padding-top: 6%;
  }
  padding-bottom: 0;
  overflow: hidden;
  border: 0;
  .canvas {
    position: absolute;
    top: 60%;
    bottom: -10%;
    left: -10%;
    right: -10%;
    // -webkit-transform: translateX(0)translateZ(30%);
    // z-index: -1;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: -50%;
    left: 45%;
    right: -20%;
    top: 40%;
    background: lighten(@blue, 3%);
    transform: rotate(23deg);
  }
  .intro-text {
    font-size: 2em;
    line-height: 1.2;
    color: rgba(255,255,255,0.9);
    .buttons {
      margin-top: 8%;
      background: rgba(0,0,0,0.1);
      padding: 2rem;
      float: left;
    }
    .button {
      display: inline-block;
      margin: 0 0 0 1rem;
      font-size: .4em;
      padding-top: .4rem;
      padding-bottom: .4rem;
    }
  }
  .network {
    font-size: 2em;
    // margin-top: -2rem;
    padding-top: 1rem;
    h3 {
      text-transform: uppercase;
      font-size: 1em;
      margin: 0;
    }
    .intro-numbers {
      line-height: 1;
      .number {
        width: 160px;
        float: left;
        font-size: 4.5em;
        margin-bottom: 0;
        margin-top: 2rem;
        box-shadow: 4rem 4rem 0 rgba(0,0,0,0.15);
        background: @pink;
        border-bottom: 10px solid darken(@pink, 10%);
      }
      .number-label {
        float: left;
        margin: 5rem 0 0 2rem;
        span {
          display: block;
          font-size: 1.65em;
        }
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      text-transform: lowercase;
      border-bottom: 2px solid @yellow;
      padding-bottom: 1rem;
      font-size: 1.1em;
    }
    p {
      margin: 0;
    }
  }
}
#content {
  padding: 6rem 0;
  min-height: 500px;
  .main-text {
    padding: 6rem 0;
    background: @yellow;
    color: #333;
    font-size: 1.6em;
    line-height: 2;
    margin: 0 0 4rem;
    margin-top: -6rem;
    font-family: 'Tim Sans';
    position: relative;
    padding-bottom: 300px;
    // canvas {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    // }
    strong {
      border-bottom: 8px solid @pink;
      font-weight: normal;
      font-size: 1.2em;
    }
    .svg {
      max-width: 1200px;
      margin: 0 auto;
      padding-left: 10%;
      position: absolute;
      top: 0;
      right: 10%;
      pointer-events: none;
      svg {
        width: 100%;
        height: auto;
        display: block;
        tspan {
          font-family: "Tim Sans" !important;
          font-weight: 200;
        }
      }
    }
  }
}
#map {
  width: 100%;
  height: 880px;
}
#colophon {
  background: @lightblue;
  color: #fff;
  padding: 6rem 0;
  font-family: 'Tim Sans';
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: @yellow;
    }
  }
  #footnav {
    margin: 0 0 4rem;
    a {
      margin: 0;
      display: block;
      padding: .5rem 0;
      .fa {
        font-size: 1.3em;
        margin-right: .5rem;
      }
    }
    ul.nav {
      display: table;
      list-style: none;
      width: 100%;
      > li {
        display: table-cell;
        // width: 1%;
        > a {
          border-bottom: 1px dotted rgba(255,255,255,0.2);
          margin-bottom: .5rem;
        }
        ul {
          display: block;
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: .8em;
          li {
            margin: 0;
            padding: 0;
            a {
              color: rgba(255,255,255,0.6);
              padding: .2rem 0;
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

/*
 * Template specific styles
 */
.page-template-page-community .page-header,
.page-template-page-network .page-header,
.author .page-header {
  &:after {
    display: none;
  }
}
.page-template-page-network #masthead,
.page-template-page-network .page-header,
.author #masthead,
.author .page-header {
  background-color: @pink;
}
.page-template-page-community #masthead,
.page-template-page-community .page-header {
  background-color: @beige;
  color: #333;
  h1 {
    color: #333;
  }
  ::-webkit-input-placeholder {
    color: @blue;
    text-transform: lowercase;
  }
  ::-moz-placeholder {
    color: @blue;
    text-transform: lowercase;
  }
  ::placeholder {
    color: @blue;
    text-transform: lowercase;
  }
  hr {
    background-image: url(../img/ptn-dot-horizontal-darkbeige.png);
  }
}
.page-template-page-community .page-header {
  background-image: url(../img/dots-cut-darkbeige.png);
}
