/*
 * Fonts
 */
 @font-face {
   font-family: 'Tim Sans';
   font-weight: 400;
   src: url('../fonts/tim-sans/TIMSansWeb-Medium.eot'); /* IE9 Compat Modes */
   src: url('../fonts/tim-sans/TIMSansWeb-Medium.svg#TIMSansWeb') format('svg'), /* Legacy iOS */
        url('../fonts/tim-sans/TIMSansWeb-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/tim-sans/TIMSansWeb-Medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/tim-sans/TIMSansWeb-Medium.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/tim-sans/TIMSansWeb-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
 }

 @font-face {
   font-family: 'Tim Sans';
   font-weight: 800;
   src: url('../fonts/tim-sans/TIMSansWeb-Bold.eot'); /* IE9 Compat Modes */
   src: url('../fonts/tim-sans/TIMSansWeb-Bold.svg#TIMSansWeb') format('svg'), /* Legacy iOS */
        url('../fonts/tim-sans/TIMSansWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/tim-sans/TIMSansWeb-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/tim-sans/TIMSansWeb-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/tim-sans/TIMSansWeb-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
 }

/*
 * Colors
 */
@lightblue: #409ABE;
@blue: #29354D;
@pink: #C64B74;
@beige: #DBD4B1;

hr {
  border: 0;
  height: 2px;
  background: url(../img/ptn-dot-horizontal.png);
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  line-height: 1.8;
}
.container {
  max-width: 1280px;
}
.button, button, input[type=button], input[type=reset], input[type=submit] {
  font-family: 'Tim Sans';
  height: auto;
}
@media (min-width: 550px) {
  .container {
    width: 90%;
  }
}
h1 {
  font-family: 'Tim Sans';
}
h1 a,
h2 a,
h3 a,
h4 a {
  text-decoration: none;
  color: inherit;
}
h4 {
  font-size: 1.4em;
  font-weight: 300;
  margin: 0;
}
input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea {
  border-radius: 0;
}
.wireframe-box {
  padding: 2rem;
  margin: 0 0 2em;
  border: 1px solid #ccc;
}
input.big-search {
  font-size: 1.2em;
  height: auto;
}
input.search {
  margin-left: 1rem;
}
.fa {
  font-size: 1.5em;
}
p.big {
  font-size: 1.6em;
}
article h5 {
  margin: 0;
}
p.post-meta {
  margin: 0;
  color: #999;
}
p.post-meta .fa {
  font-size: 1em;
}
.social-buttons {
  font-size: 2em;
  text-align: center;
}
.social-buttons a {
  text-decoration: none;
}
.timeline {
  margin-top: 4rem;
  padding: 4rem 0;
  position: relative;
  font-size: .9em;
}
.timeline:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background: #ddd;
}
.timeline .timeline-item {
  position: relative;
  margin-top: -4rem;
}
.timeline .timeline-item:before {
  content: '';
  position: absolute;
  background: #ddd;
  height: 1px;
  top: 50%;
}
.timeline .timeline-item .post-box {
  width: 48%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 2rem;
}
.timeline .timeline-item:nth-child(odd) .post-box {
  float: left;
}
.timeline .timeline-item:nth-child(odd):before {
  left: 48%;
  right: 50%;
}
.timeline .timeline-item:nth-child(even) .post-box {
  float: right;
}
.timeline .timeline-item:nth-child(even):before {
  left: 50%;
  right: 48%;
}
.sidebar .profiles {
  height: auto;
}
.sidebar .profiles .profile h4 {
  font-size: 1.2em;
}
.profiles {
  height: 350px;
  overflow: auto;
}
.profile h4 {
  font-size: 1.4em;
  margin: 0;
}
.profile p {
  font-style: italic;
  color: #999;
}
.profile .fa.image {
  float: left;
  font-size: 3.8em;
  color: #999;
  margin: 0 2rem 0 0;
}
#masthead {
  background: @lightblue;
  padding: 4rem 0;
  color: #fff;
  margin: 0;
  position: relative;
  h1 {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
    color: #fff;
    a {
      color: inherit;
    }
  }
  a {
    color: @blue;
    text-decoration: none;
  }
  .search-input {
    margin-left: 2rem;
    .fa {
      font-size: 1em;
    }
    input[type=text] {
      background: transparent;
      border: 0;
      font-family: 'Tim Sans';
      padding: .5rem 0;
      height: auto;
      color: #fff;
    }
  }
  ::-webkit-input-placeholder {
    color: #fff;
    text-transform: lowercase;
  }
  ::-moz-placeholder {
    color: #fff;
    text-transform: lowercase;
  }
  ::placeholder {
    color: #fff;
    text-transform: lowercase;
  }
}
#mastnav {
  font-family: 'Tim Sans';
  text-transform: lowercase;
  a {
    display: inline-block;
    margin-right: 1rem;
    &:hover {
      color: #fff;
    }
  }
}
.page-header {
  background: @lightblue url(../img/dots-cut.png) bottom right repeat-x;
  font-family: 'Tim Sans';
  color: #fff;
  border-bottom: 2px solid @blue;
  position: relative;
  padding-bottom: 8rem;
  &:after {
    content: '';
    width: 231px;
    height: 211px;
    background: url(../img/pins-small.png) center no-repeat;
    position: absolute;
    bottom: -118px;
    right: 11%;
    pointer-events: none;
    z-index: 10;
  }
  .button, button, input[type=button], input[type=reset], input[type=submit] {
    border-color: #fff;
    color: #fff;
    background: @lightblue;
    &:hover {
      background: darken(@lightblue, 5%);
    }
  }
  .button.button-primary, button.button-primary, input[type=button].button-primary, input[type=reset].button-primary, input[type=submit].button-primary {
    background: @pink;
    &:hover {
      background: darken(@pink, 5%);
    }
  }
  hr {
    margin: 0;
    padding: 0;
  }
  .page-header-content {
    margin-top: 4rem;
  }
  h2 {
    font-size: 3.2em;
  }
  p.subtitle {
    margin: 0;
  }
}
#hero {
  padding-bottom: 0;
  .intro-text {
    font-size: 2em;
    line-height: 1.2;
    color: rgba(255,255,255,0.9);
    .button {
      margin-right: 2rem;
      font-size: .4em;
      padding-top: .4rem;
      padding-bottom: .4rem;
    }
  }
  .network {
    padding-top: 1.2rem;
    // padding: 5rem 6rem 15rem;
    // display: none;
    font-size: 1.4em;
    // background: url(../img/big-pin.png) top left no-repeat;
    // background-size: 100%;
    text-align: center;
    h3 {
      text-transform: uppercase;
      font-size: 1em;
      margin: 0;
    }
    .intro-numbers {
      line-height: 1;
      margin-bottom: 2rem;
      margin-left: 4rem;
      color: rgba(255,255,255,0.9);
      &:before {
        content: '';
        height: 150px;
        width: 3px;
        display: block;
        float: left;
        margin-left: 2rem;
        margin-top: -4.5rem;
        padding-bottom: 4.5rem;
        background: url(../img/ptn-dot-vertical.png);
      }
      .number {
        float: left;
        font-size: 4.5em;
        margin-bottom: 1rem;
        margin-left: 4rem;
        margin-top: 2rem;
      }
      .number-label {
        float: left;
        margin: 4rem 0 0 2rem;
        span {
          display: block;
          font-size: 1.65em;
        }
      }
    }
    .button {
      display: none;
    }
    p {
      margin: 0;
    }
    .ptns {
      width: 100%;
      height: 205px;
      position: relative;
      a {
        color: #fff;
        display: block;
        text-transform: lowercase;
        margin: 2rem;
        position: relative;
        text-decoration: none;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -2rem;
          height: 2px;
          background: url(../img/ptn-dot-horizontal.png);
        }
      }
      &:hover {
        .ptn-2 {
          padding-bottom: 1.8rem;
          margin-left: 1.8rem;
        }
        .ptn-3 {
          padding-bottom: 3.6rem;
          margin-left: 3.6rem;
        }
      }
    }
    .ptn {
      width: 100%;
      height: 185px;
      position: absolute;
      bottom: 0;
      left: 0;
      box-shadow: -2px -2px 2px rgba(0,0,0,0.1);
      transition: all .2s linear;
      &.ptn-1 {
        background: @blue;
        // background-image: url(../img/ptn-dots-beige.png);
        z-index: 3;
      }
      &.ptn-2 {
        background: @pink;
        // background-image: url(../img/ptn-dots-white.png);
        padding-bottom: 1.5rem;
        margin-left: 1.5rem;
        z-index: 2;
      }
      &.ptn-3 {
        background: @beige;
        // background-image: url(../img/ptn-dots-darkbeige.png);
        padding-bottom: 3rem;
        margin-left: 3rem;
      }
    }
  }
}
#content {
  padding: 6rem 0;
  min-height: 500px;
  background: url(../img/dots-below-header_.png) top right no-repeat;
}
#map {
  width: 100%;
  height: 880px;
}

/*
 * Template specific styles
 */
.page-template-page-community .page-header,
.page-template-page-network .page-header,
.author .page-header {
  &:after {
    display: none;
  }
}
.page-template-page-network #masthead,
.page-template-page-network .page-header,
.author #masthead,
.author .page-header {
  background-color: @pink;
}
.page-template-page-community #masthead,
.page-template-page-community .page-header {
  background-color: @beige;
  color: #333;
  h1 {
    color: #333;
  }
  ::-webkit-input-placeholder {
    color: @blue;
    text-transform: lowercase;
  }
  ::-moz-placeholder {
    color: @blue;
    text-transform: lowercase;
  }
  ::placeholder {
    color: @blue;
    text-transform: lowercase;
  }
  hr {
    background-image: url(../img/ptn-dot-horizontal-darkbeige.png);
  }
}
.page-template-page-community .page-header {
  background-image: url(../img/dots-cut-darkbeige.png);
}
