footer#colophon
  .container
    .twelve.columns
      nav#footnav
        a(href='page.html') Sobre
        |  
        a(href='timeline.html') Linha do Tempo
        |  
        a(href='page.html') Contato
        |  
        a(href='page.html') Termos de uso
        |  
        a(href='page.html') Parceiros
        |  
        a(href='#') GitHub
