section#masthead
  .container
    .six.columns
      h1
        a(href='index.html') Mapas Culturais
    .six.columns
      input.search.u-pull-right(type='text', placeholder='Busque qualquer coisa')
      nav#mastnav.u-pull-right
        a(href='page.html') Mapas Culturais
        |  
        a(href='blog.html') Blog
        |  
        a(href='page.html') Parceiros
        |  
        a(href='support.html') Suporte
        |  
        a(href='page.html') Contato
