section#hero
  .container
    .seven.columns
      .intro-text
        p.big
          | Mapeamento colaborativo e gest&atilde;o da cultura contribuindo para qualificar a gest&atilde;o p&uacute;blica.
        p
          a.button(href='support.html') Suporte
          |  
          a.button.button-primary(href='page.html') Saiba mais
    .five.columns
      p Mapas Culturais pelo Brasil
      .row
        .six.columns
          .intro-numbers
            p.number 123456
            p agentes culturais
        .six.columns
          .intro-numbers
            p.number 32165
            p equipamentos culturais
      p
        a.button.u-full-width(href='installations.html') Conhe&ccedil;a as instala&ccedil;&otilde;es
