extends layouts/site

block body
  include parts/hero
  hr
  .container
    .nine.columns
      p
        | Mapas Culturais é uma plataforma colaborativa que reúne informações sobre agentes, espaços, eventos e projetos culturais, fornecendo ao poder público uma radiografia da área de cultura e ao cidadão um mapa de espaços e eventos culturais da região.
      .row
        .six.columns
          h3 Últimas novidades
          article
            h5 Lorem ipsum dolor sit amet
            p
              | Praesent et ultricies metus. Aliquam dictum est ac odio elementum vulputate. Nulla ligula magna, facilisis maximus turpis vel, placerat suscipit ante.
          article
            h5 Lorem ipsum dolor sit amet
            p
              | Praesent et ultricies metus. Aliquam dictum est ac odio elementum vulputate. Nulla ligula magna, facilisis maximus turpis vel, placerat suscipit ante.
          |  
          a.button(href='#') Mais novidades
        .six.columns
          h3 Blog dos gestores
          article
            h5 Lorem ipsum dolor sit amet
            p.post-meta
              i
                span.fa.fa-user-circle
                |  Secretaria de Cultura de São Paulo
            p
              | Praesent et ultricies metus. Aliquam dictum est ac odio elementum vulputate. Nulla ligula magna, facilisis maximus turpis vel, placerat suscipit ante.
          article
            h5 Lorem ipsum dolor sit amet
            p.post-meta
              i
                span.fa.fa-user-circle
                |  CulturaRS - Rio Grande do Sul
            p
              | Praesent et ultricies metus. Aliquam dictum est ac odio elementum vulputate. Nulla ligula magna, facilisis maximus turpis vel, placerat suscipit ante.
          |  
          a.button(href='#') Acesse o blog dos gestores
    .three.columns
      h3 Newsletter
      |  
      input.u-full-width(type='text', placeholder='Preencha seu e-mail')
      p Selecione seus interesses:
      |  
      label
        input(type='checkbox')
        |  Novidades
      |  
      label
        input(type='checkbox')
        |  Gestão cultural
      |  
      label
        input(type='checkbox')
        |  Desenvolvimento
      p
        button.button-primary.u-full-width Cadastrar
      .social-buttons
        a.fa.fa-facebook(href='#')
        a.fa.fa-twitter(href='#')
  hr
  include parts/sections/community
