extends layouts/site

block body
  article#page
    .container
      .twelve.columns
        h2 Lorem ipsum dolor sit amet
    hr
    .container
      .nine.columns
        p
          | Mapas Culturais &eacute; uma plataforma colaborativa que re&uacute;ne informa&ccedil;&otilde;es sobre agentes, espa&ccedil;os, eventos e projetos culturais, fornecendo ao poder p&uacute;blico uma radiografia da &aacute;rea de cultura e ao cidad&atilde;o um mapa de espa&ccedil;os e eventos culturais da regi&atilde;o.
        p
          | Aliquam at eros mauris. Maecenas sit amet metus velit. Nunc pulvinar nisi sed pretium lobortis. Phasellus id aliquam turpis, ut placerat dolor. Sed consectetur, nisi vel tristique luctus, sem mauris posuere erat, vitae tristique enim urna eget turpis. Aenean ultrices non leo et fermentum. Cras imperdiet sem in ornare sollicitudin. Sed mattis faucibus augue, vel rhoncus elit consectetur sed. Fusce id dignissim augue, at rhoncus magna. Mauris bibendum diam sed sem pretium, quis ullamcorper mauris aliquet. Praesent vitae tellus nisl. Praesent eleifend hendrerit pretium.
        p
          | Nullam eu elementum lacus. Nulla euismod ante sem, accumsan ultricies tortor commodo ut. Praesent efficitur ipsum at porta consequat. In malesuada blandit interdum. Ut imperdiet magna vel sem lacinia faucibus eu eget leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur lectus id egestas volutpat. Nam vitae lectus id arcu tempor tristique. Phasellus condimentum, nisi sit amet ornare tempor, sem lectus maximus purus, a pulvinar ex ex eu purus. Phasellus ultrices sollicitudin mollis. Pellentesque imperdiet libero ut magna feugiat, quis scelerisque leo porttitor. In arcu nibh, hendrerit quis risus sed, efficitur vehicula enim.
      .three.columns
        .wireframe-box
          h3 Widget #1
          p &Aacute;rea de widget para template de p&aacute;gina padr&atilde;o
        .wireframe-box
          h3 Widget #2
          p &Aacute;rea de widget para template de p&aacute;gina padr&atilde;o
  hr
  include parts/sections/community
