extends layouts/site

block body
  article#page
    .container
      .twelve.columns
        .u-pull-right
          a.button Tutoriais
          a.button
            span.fa.fa-telegram
            |  Chat
          a.button
            span.fa.fa-download
            |  Manual
        h2 Suporte
        p
          | Integer euismod massa sed tellus convallis gravida. In in velit in nibh ullamcorper
          br
          |  lobortis nec eu ante. Aenean rutrum tincidunt turpis, sed ullamcorper nunc.
          br
          |  Curabitur vitae mauris ut quam elementum posuere vel ac quam.
        |  
        input.big-search.u-full-width(type='text', placeholder='Busca por tutoriais')
    hr
    .container
      .seven.columns
        h3 Manual
        p
          | Faça download do manual do Mapas Culturais. Integer euismod massa sed tellus convallis gravida. In in velit in nibh ullamcorper lobortis nec eu ante. Aenean rutrum tincidunt turpis, sed ullamcorper nunc. Curabitur vitae mauris ut quam elementum posuere vel ac quam.
        p
          a.button.button-primary.u-full-width Fazer download (PDF)
      .five.columns
        div
          h3 Participe do Chat
          p
            | Conheça a comunidade e as dicussões mais recentes através do chat. In in velit in nibh ullamcorper lobortis nec eu ante. Curabitur vitae mauris ut quam elementum posuere vel ac quam.
          p
            a.button.button-primary.u-full-width Acesse o chat
    hr
    .container
      .eight.columns
        h3 Tutoriais
        article.wireframe-box
          h4
            | Maecenas malesuada faucibus fermentum. Praesent id velit suscipit, eleifend est ac, tristique quam.
          p
            | Duis ultricies magna vel tortor ultrices porta. Cras viverra mattis purus quis ornare. Quisque ut blandit sem. Nunc volutpat sit amet sem ac rhoncus. In magna elit, iaculis eget tristique vitae, rutrum at justo. Pellentesque habitant.
        article.wireframe-box
          h4
            | Maecenas malesuada faucibus fermentum. Praesent id velit suscipit, eleifend est ac, tristique quam.
          p
            | Duis ultricies magna vel tortor ultrices porta. Cras viverra mattis purus quis ornare. Quisque ut blandit sem. Nunc volutpat sit amet sem ac rhoncus. In magna elit, iaculis eget tristique vitae, rutrum at justo. Pellentesque habitant.
        article.wireframe-box
          h4
            | Maecenas malesuada faucibus fermentum. Praesent id velit suscipit, eleifend est ac, tristique quam.
          p
            | Duis ultricies magna vel tortor ultrices porta. Cras viverra mattis purus quis ornare. Quisque ut blandit sem. Nunc volutpat sit amet sem ac rhoncus. In magna elit, iaculis eget tristique vitae, rutrum at justo. Pellentesque habitant.
      .four.columns
        div
          h3 Categorias
          ul
            li
              a(href='#') Categoria #1
            li
              a(href='#') Categoria #2
            li
              a(href='#') Categoria #3
            li
              a(href='#') Categoria #4
            li
              a(href='#') Categoria #5
        div
          h3 Newsletter
          |  
          input.u-full-width(type='text', placeholder='Preencha seu e-mail')
          p Selecione seus interesses:
          |  
          label
            input(type='checkbox')
            |  Novidades
          |  
          label
            input(type='checkbox')
            |  Gest&atilde;o cultural
          |  
          label
            input(type='checkbox')
            |  Desenvolvimento
          p
            button.button-primary.u-full-width Cadastrar
          .social-buttons
            a.fa.fa-facebook(href='#')
            a.fa.fa-twitter(href='#')
  hr
  include parts/sections/community
