extends layouts/site

block body
  article#page
    .container
      .twelve.columns
        h2 Linha do Tempo
    hr
    .container
      .twelve.columns
        p
          | Mapas Culturais &eacute; uma plataforma colaborativa que re&uacute;ne informa&ccedil;&otilde;es sobre agentes, espa&ccedil;os, eventos e projetos culturais, fornecendo ao poder p&uacute;blico uma radiografia da &aacute;rea de cultura e ao cidad&atilde;o um mapa de espa&ccedil;os e eventos culturais da regi&atilde;o.
        .timeline
          .timeline-item.row
            .post-box
              h3 Item #1
              p
                | Nunc pulvinar nisi sed pretium lobortis. Phasellus id aliquam turpis, ut placerat dolor. Sed consectetur, nisi vel tristique luctus, sem mauris posuere erat, vitae tristique enim urna eget turpis.
          .timeline-item.row
            .post-box
              h3 Item #2
              p
                | Nunc pulvinar nisi sed pretium lobortis. Phasellus id aliquam turpis, ut placerat dolor. Sed consectetur, nisi vel tristique luctus.
          .timeline-item.row
            .post-box
              h3 Item #3
              p Nunc pulvinar nisi sed pretium lobortis.
          .timeline-item.row
            .post-box
              h3 Item #4
              p
                | Nunc pulvinar nisi sed pretium lobortis. Phasellus id aliquam turpis, ut placerat dolor. Sed consectetur, nisi vel tristique luctus, sem mauris posuere erat, vitae tristique enim urna eget turpis.
          .timeline-item.row
            .post-box
              h3 Item #5
              p
                | Nunc pulvinar nisi sed pretium lobortis. Phasellus id aliquam turpis, ut placerat dolor. Sed consectetur, nisi vel tristique luctus.
          .timeline-item.row
            .post-box
              h3 Item #6
              p Nunc pulvinar nisi sed pretium lobortis.
  hr
  include parts/sections/community
