extends layouts/site

block body
  article#page
    .container
      .twelve.columns
        h4.u-pull-right
          span.fa.fa-map-marker
          | São Paulo - SP
        h2
          span.small.block Secretaria de Cultura de São Paulo
          | SP CULTURA
        .row
          .six.columns
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mollis mi et malesuada aliquet. Donec dictum lorem sit amet nunc dictum iaculis. Etiam commodo malesuada libero id feugiat. Nam nisi eros, feugiat vel diam vel, semper convallis justo. Integer lacinia placerat elit in egestas. Nam sed enim dictum, ornare sem at, tempus justo.
          .six.columns
            .three.columns
              .intro-numbers
                p.number 1.256
                p agentes
            .three.columns
              .intro-numbers
                p.number 1.256
                p eventos
            .three.columns
              .intro-numbers
                p.number 325
                p espaços
            .three.columns
              .intro-numbers
                p.number 325
                p projetos
        p
          a.button.button-primary Acessar plataforma
    hr
    .container
      .eight.columns
        h3 Blog do gestor
        article
          h5
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a erat volutpat lacus dictum consectetur in vitae lacus.
          p
            | Mauris elit nibh, aliquam nec maximus sit amet, vestibulum feugiat tortor. Curabitur congue sem et velit cursus malesuada. Maecenas at sapien posuere, malesuada arcu ut, tincidunt tortor. Proin volutpat ligula elit, sit amet cursus sapien mollis non. Nunc tincidunt imperdiet tincidunt. Donec odio dolor, interdum at eros at, vestibulum cursus ligula. Nunc scelerisque dui sit amet venenatis sodales. Curabitur aliquet nisl nisi, id varius tellus pretium sollicitudin. Quisque vestibulum sapien in nibh hendrerit, et scelerisque massa lacinia. Etiam vehicula posuere scelerisque. Donec cursus ac leo sit amet fermentum. Donec ut urna sit amet lorem egestas accumsan pellentesque ac nulla. Mauris accumsan condimentum augue quis mattis. Vivamus feugiat leo quam, ut molestie erat aliquam ac.
        article
          h5
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a erat volutpat lacus dictum consectetur in vitae lacus.
          p
            | Mauris elit nibh, aliquam nec maximus sit amet, vestibulum feugiat tortor. Curabitur congue sem et velit cursus malesuada. Maecenas at sapien posuere, malesuada arcu ut, tincidunt tortor. Proin volutpat ligula elit, sit amet cursus sapien mollis non. Nunc tincidunt imperdiet tincidunt.
          p
            | Donec odio dolor, interdum at eros at, vestibulum cursus ligula. Nunc scelerisque dui sit amet venenatis sodales. Curabitur aliquet nisl nisi, id varius tellus pretium sollicitudin. Quisque vestibulum sapien in nibh hendrerit, et scelerisque massa lacinia. Etiam vehicula posuere scelerisque. Donec cursus ac leo sit amet fermentum. Donec ut urna sit amet lorem egestas accumsan pellentesque ac nulla. Mauris accumsan condimentum augue quis mattis. Vivamus feugiat leo quam, ut molestie erat aliquam ac.
        article
          h5
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a erat volutpat lacus dictum consectetur in vitae lacus.
          p
            | Mauris elit nibh, aliquam nec maximus sit amet, vestibulum feugiat tortor. Curabitur congue sem et velit cursus malesuada. Maecenas at sapien posuere, malesuada arcu ut, tincidunt tortor. Proin volutpat ligula elit, sit amet cursus sapien mollis non. Nunc tincidunt imperdiet tincidunt.
          p
            | Donec odio dolor, interdum at eros at, vestibulum cursus ligula. Nunc scelerisque dui sit amet venenatis sodales. Curabitur aliquet nisl nisi, id varius tellus pretium sollicitudin. Quisque vestibulum sapien in nibh hendrerit, et scelerisque massa lacinia. Etiam vehicula posuere scelerisque. Donec cursus ac leo sit amet fermentum. Donec ut urna sit amet lorem egestas accumsan pellentesque ac nulla. Mauris accumsan condimentum augue quis mattis. Vivamus feugiat leo quam, ut molestie erat aliquam ac.
        include parts/pagination
      .four.columns
        .statistics
          h3 Estat&iacute;scas
          .wireframe-box
            select.u-full-width
              option Agentes culturais
              option Eventos
              option Espaços
              option Projetos
            p nos últimos 30 dias
            script(async='', src='//jsfiddle.net/z0ebdbyn/7/embed/result/')
        .team
          h3 Equipe
          .wireframe-box
            div.row
              span.fa.fa-user-circle.image.u-pull-left
              h4 Fulano
              p Direção geral
            div.row
              span.fa.fa-user-circle.image.u-pull-left
              h4 Ciclano
              p Desenvolvimento
        .team
          h3 Contato
          .wireframe-box
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in ante suscipit, imperdiet sapien sit amet, imperdiet velit. Pellentesque gravida mollis dignissim.
