section#community
  .container
    .twelve.columns
      h3 Fa&ccedil;a parte da comunidade
  .container
    .six.columns
      article
        span.fa.fa-check.u-pull-left
        p Alguns atributos da comunidade. Lorem ipsum dolor sit amet.
      article
        span.fa.fa-check.u-pull-left
        p Descri&ccedil;&atilde;o de m&eacute;todos de participa&ccedil;&atilde;o. Lorem ipsum dolor sit amet.
      article
        span.fa.fa-check.u-pull-left
        p Esfor&ccedil;o democr&aacute;tico, etc. Lorem ipsum dolor sit amet.
    .six.columns
      p Mapas Culturais &eacute; um software livre
      a.button
        span.fa.fa-github
        |  GitHub
      |  
      a.button.button-primary(href='community.html') Participe da discuss&atilde;o
