meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
title Portal Mapas Culturais
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css')
link(rel='stylesheet', href='../style.css')
