section#masthead
  .container
    .six.columns
      h1
        a(href='index.html') Mapas Culturais
    .six.columns
      input.search.u-pull-right(type='text', placeholder='Busque qualquer coisa')
      nav#mastnav.u-pull-right
        a(href='page.html') Sobre a iniciativa
        = ' '
        a(href='blog.html') Sobre o sistema
        = ' '
        a(href='page.html') Notícias
        = ' '
        a(href='page.html') Contato
