section#hero
  .container
    .seven.columns
      .intro-text
        p.big
          | Mapeamento colaborativo e gestão da cultura contribuindo para qualificar a gestão pública.
        p
          a.button(href='support.html') Suporte
          |  
          a.button.button-primary(href='page.html') Saiba mais
    .five.columns
      p Mapas Culturais na rede
      .row
        .six.columns
          .intro-numbers
            p.number 123456
            p agentes culturais
        .six.columns
          .intro-numbers
            p.number 32165
            p locais
      p
        a.button.u-full-width(href='installations.html') Conheça as instalações
