section#community
  .container
    .twelve.columns
      h3 Faça parte da comunidade
  .container
    .six.columns
      article
        span.fa.fa-check.u-pull-left
        p Alguns atributos da comunidade. Lorem ipsum dolor sit amet.
      article
        span.fa.fa-check.u-pull-left
        p Descrição de métodos de participação. Lorem ipsum dolor sit amet.
      article
        span.fa.fa-check.u-pull-left
        p Esforço democrático, etc. Lorem ipsum dolor sit amet.
    .six.columns
      p Mapas Culturais é um software livre
      a.button
        span.fa.fa-github
        = ' '
        | GitHub
      |  
      a.button.button-primary(href='community.html') Participe da discussão
